# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js build output
.next/
out/
build/

# Misc
.DS_Store
*.pem

# Local env files & tokens
.env
.env*.local
celo_auth_token.json
celo_registration_result.json

# Prisma SQLite database
prisma/*.db
prisma/*.db-journal

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
