# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js build output
.next/
out/

# Production
build

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env
celo_auth_token.json

# Prisma SQLite database
prisma/*.db
prisma/*.db-journal

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

